<?xml version="1.0"?>
<config>
  <modules>
    <Envato_Wishlist>
      <version>1.0</version>
    </Envato_Wishlist>
  </modules>
 
  <frontend>
    <routers>
      <wishlist>
        <args>
          <modules>
            <Envato_Wishlist before="Mage_Wishlist">Envato_Wishlist</Envato_Wishlist>
          </modules>
        </args>
      </wishlist>
    </routers>
  </frontend>
</config>
