<?xml version="1.0"?>
<config>
  <modules>
    <Envato_Checkout>
      <version>1.0</version>
    </Envato_Checkout>
  </modules>
 
  <frontend>
    <routers>
      <checkout>
        <args>
          <modules>
            <Envato_Checkout before="Mage_Checkout">Envato_Checkout</Envato_Checkout>
          </modules>
        </args>
      </checkout>
    </routers>
  </frontend>
</config>
