<?xml version="1.0"?>
<config>
  <modules>
    <Envato_Catalog>
      <version>1.0</version>
    </Envato_Catalog>
  </modules>
 
  <frontend>
    <routers>
      <catalog>
        <args>
          <modules>
            <Envato_Catalog before="Mage_Catalog">Envato_Catalog</Envato_Catalog>
          </modules>
        </args>
      </catalog>
    </routers>
  </frontend>
</config>
