<?xml version=”1.0″?>

<config>
    <global>
        <modules>
            <iyngaran_helloworld>
                <version>0.1.0</version>
            </iyngaran_helloworld>
        </modules>

        <blocks>
            <helloworld>
                <rewrite>
                    <helloworld>Iyngaran_HelloWorld_Block_HelloWorld</helloworld>
                </rewrite>
            </helloworld>
        </blocks>
    </global>

    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Iyngaran_HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>

        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
</config>
